.container {
	width: 700px;
	margin: 0 auto  ;
}

@media (max-width: 490px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

@media(max-width:  720px) {
	.container {
		width: 500px;
		}
}

.subtext {
	padding:40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1) ;
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;